/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2014, 11:28:15 AM
    Author     : hieunq5
*/
.top-panel {
	background-color: #e7e4e4;
	height: 75px;
	width: 100%;
	align-items: center;
	border-bottom: 1px solod #ccc;
}

.top-panel .item {
	display: inline-block;
	float: none;
}

.body-panel {
	margin-top: 10px;
	min-height: 512px;
}

.right {
	float: right:
}

.center-vertical {
	align-items: center;
}