ul {
	list-style: outside none none;
}

ol {
	list-style: outside none decimal;
	margin-bottom: 18px;
	margin-left: 2.2em;
}

ul.square,ul.circle {
	margin-bottom: 18px;
	margin-left: 2em;
}

ul.circle.padded li {
	padding-bottom: 6px;
}

ul.square {
	list-style: outside none square;
}

ul.circle {
	list-style: outside none disc;
}

ul.circle-inside {
	list-style: inside none disc;
	padding: 0.5em 0 2em 1.3em;
}

ul ul.circle,ul ul.square {
	margin-bottom: 5px;
	margin-top: 4px;
}

ol.sosumi {
	margin-left: 0;
	padding-left: 2em;
}

.white #content {
	padding: 50px 90px !important;
	width: 800px !important;
}

.white #content,.white #content .subsection p,.white #content .subsection li h3
	{
	background-color: #fff;
	color: #333;
	font: 16px/24px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
}

.white #content li {
	padding-bottom: 0.25em;
}

.white #content h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
		Verdana, sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 36px;
	margin-bottom: 18px;
}

.white #content h2 {
	font-size: 1.25em;
	margin-bottom: 1em;
	margin-top: 2em;
}

.white #content .subsection p {
	margin: 0 0 5px 34px;
	padding-left: 20px;
}

.white #content .subsection li h3 {
	float: left;
	font-weight: bold;
	margin-left: -16px;
	margin-top: 2px;
	text-align: right;
	width: 45px;
}

ol.toc li {
	padding-bottom: 0;
}

a {
	white-space: nowrap;
}

p.updated {
	margin: 55px 0 65px;
}